 *{
    margin: 0;
    padding: 0;
 }
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);}
h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: 'Odibee Sans', sans-serif;
    padding: 15%;
    color: #fff;
}