*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);
}
.thor{
    display: flex;
    justify-content: center;
    font-family:'Odibee Sans', sans-serif;
    font-size: 100px;
     padding: 50px;
     color: #fff;
}
p{
    display: flex;
    text-align: center;
    font-family: 'Cardo', serif;
    font-size: 24px;
    color: #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.764);
    height: 496px;
}


@media all and (min-width: 768px) and (max-width: 1024px) {
    p{
        height: 700px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    p{
        height: 1000px;
    }
}

@media all and (max-width: 480px) {
    p{
        height: 1000px;
    }
}